.meteorButton{
    display: inline-block;
    color: white;
}

.meteorButtonSaveSlot{
  font-family: 'strife', sans-serif;
    font-size: 12px;
    display: block;
    width: 100px;
    margin: 15px;
}

a{
    color: white;
    text-decoration: none;
}

.saveSlot{
    border: 8px solid #900618;
    background-color: #b3041b;
    height: 150px;
    width: 1000px;
    margin: 10px;
    text-align: left;
}

.gigglesnort{
}

.lastPlayed{

}

.valueElement{
    float: right;
}

td{
    margin: 5px;
    min-width:80px;
}
