
#navbar{
	width:100%px;
	margin-left: auto;
	margin-right: auto;
	z-index: 13;

}



.links{
	background-color: white;
	padding: 10px;
	width:1440px;
	z-index: 13;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid black;
	text-align: center;
	vertical-align: middle;
}

.fanLinks{
	background-color: #9630bf;
	z-index: 13;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #cc87e8;
	width:1440px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	text-align: center;
	vertical-align: middle;
}

.navbarLink{
	padding-left: 10px;
	padding-right:10px;
	z-index: 13;
}

.navBarMenu{
	display:none;
	z-index: 13;
}

.menu{
	background-color: #421d11;
	width:1015px;
	height:30px;
	margin-left: auto;
	margin-right: auto;
	z-index: 13;
	border: 3px solid 35150b
	text-align: center;
	vertical-align: middle;
}

.menuButton{
	display:inline;
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 5px;
	z-index: 13;
	padding-right: 5px;
	border: 3px solid 35150b
	background-color: #421d11;
	font-family: "Times New Roman", Times, serif;
	font-size: 25px;
	color:  #5d2c1c;

}


ul.menuPureCSS {
    list-style-type: none;
    z-index: 13;
		width: 1440px;
    margin: 0, auto;
		text-align: center;
    padding: 0;
    overflow: hidden;
    background-color: #421d11;
		border: 2px solid 35150b
		font-family: "Franklin Gothinc Demi", arial, sans;
		font-size: 18px;
}

.banner{
    z-index: 13;
    width: 100%;

}

.banner img{
    z-index: 13;
    margin: 0px;
    display: inline-block;
    margin: 0 auto;
}

.centeredMenu{
	width: 1200px;
	z-index: 13;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

li.menuButtonPureCSS {
z-index: 13;
    float: left;
		padding-left: 10px;
}

li.menuButtonPureCSS a, .dropbtn {
z-index: 13;
    display: block;
    color:  #935b49;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.menuButtonPureCSS a:hover, .dropdown:hover .dropbtn {
    background-color: #31160e;
    z-index: 13;
}

li.dropdown {
    display: inline-block;
    z-index: 13;
}

.dropdown-content {
    display: none;
    z-index: 13;
    position: absolute;
    background-color: #5d2c1c;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    z-index: 13;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
z-index: 13;
    display: block;
}