
.consortStrip{
    position: relative;
    width: 1420px;
    border: 3px solid #242d26;
    background-image: url("../images/BGs/AlternianCliffLoop.png");
    height: 375px;
    background-repeat: repeat-x;
}

.consort{
    position:absolute;
    bottom: 0px;
}

.chatter{
    position:absolute;
    color: #4e2370;
    background: #dcb4e9;
    border: 3px solid #aa0fd0;
    border-radius: 45px;
    padding: 15px;
}